body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: larger;
    background-image: url(round\ the\ corner-corner.png);
    background-size: 100vw;
}

div > img {
    width: 100px;
    border-radius: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

.socials {
    display: flex;
    gap: 10px;
}

